* {
    border: 1px solid red !important;
}

a {
	color: #F68E1E;
}

.container-fluid {
  margin-right: auto;
  margin-left: auto;
  padding-left: 0px;
  padding-right: 0px;
}

.row {
  margin-left: 0px;
  margin-right: 0px;
}

a:hover {
	text-decoration: none;
	font-weight: bold;
	color:  #F68E1E;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

/* Change the link color to #111 (black) on hover */
li a:hover {
	color: white;
    background-color: #F68E1E;
    text-decoration: none;
}


.logo {
	background-color: black;
	padding: 30px 30px;
}

.navBackground {
	background-color: black;
}

.mainContentArea {
	margin: 0 auto;
	max-width: 90%;
	padding: 20px 30px 15px 30px;
}

.mainPic {
	margin: 0 auto;
	padding: 25px 30px 15px 30px;
	max-width: 70%;
}

.footer {
	padding: 10px 10px;
}

.social {
	padding-top: 0px;
}

.email {
	padding-top: 10px;
}

/*.center {
	margin: 0 auto;
	max-width: 800px;
}*/

.active {
    background-color: black;
}

.rslides {
  position: relative;
  list-style: none;
  overflow: hidden;
  width: 100%;
  padding: 0;
  margin: 0;
  }

.rslides li {
  -webkit-backface-visibility: hidden;
  position: absolute;
  display: none;
  width: 100%;
  left: 0;
  top: 0;
  }

.rslides li:first-child {
  position: relative;
  display: block;
  float: left;
  }

.rslides img {
  display: block;
  height: auto;
  float: left;
  width: 100%;
  border: 0;
  }

.caption {
  position: absolute;
  display: block;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 15px;
  text-align: center;
  background: #000;
  background: rgba(0,0,0, .8);
  color: #fff;
}

@media only screen and (max-width: 500px) {
    .caption{
        display: none;
    }
}

.marginTop {
	margin-top: 30px;
}

.contactPic {
	margin: 0 auto;
}

.contactContentArea {
	margin: 0 auto;
	max-width: 90%;
	padding: 30px 30px 15px 30px;
